@import './style.scss';

//background colors
$alert-header-bg: rgb(218, 63, 63);
$alert-text-bg:  rgb(230, 143, 143);
$alert-events-bg: rgb(237, 163, 163);

//heights && widths
$alert-header-height: 30px;
$alert-events-width: 30%;

button{
    cursor: pointer;
}
/********** ALERT SECTION **********/
#alert-btn{
    position: absolute;
    top: 1%;
    margin-left: 12px;
    filter: invert(53%) sepia(74%) saturate(4896%) hue-rotate(337deg) brightness(99%) contrast(86%);
    width: 30px;
    height: 30px;
    z-index: 10;
}
#alert-btn:hover{
    transform: rotateZ(14deg);
    cursor: pointer;
    transition: transform 400ms linear;
}
#alert-btn:hover::after{
    @include custom-text-hover;
}
#alert-desc {
    display: none;
    position: fixed;
    left: 20%;
    top: 20%;
    width: 60vw;
    height: 60vh;
    font-size: 1.3rem;
    z-index: 11;
    overflow: hidden; //force the child to copy parent's border radius
    border-radius: 16px;
    box-shadow: 0 0 5px 0 rgba(1,1,1,0.3);
    //transition when exiting or when it is being displayed
    transition: transform 900ms ease-in-out; 
    #alert-header{
        height: $alert-header-height;
        width: 100%;
        background: $alert-header-bg;
        p {
            padding: 6px 14px
        }
    }
    #alert-flex{
        display: flex;
        height: calc(100% - #{$alert-header-height});
        #alert-events{
            height: 100%;
            border-right: 2px solid rgba(255,255,255,0.3);
            width: 30%;
            background: $alert-events-bg;
            color: rgb(34,56,45);
            div {
                padding: 6px 0;
                text-align: center;
                border-bottom: 1px solid rgb(34,56,45);
            }
        }
        #alert-text{
            height: 100%;
            width: calc(100% - #{$alert-events-width});
            background: $alert-text-bg;
            color: white;
            overflow: auto;
            p{
                padding: 15px 28px;
                line-height: 1.5;
            }
            #alert-close{
                position: absolute;
                right: 3%;
                bottom: 5%;
                height: 30px;
                background: $alert-events-bg;
                outline: none;
            }
        }
    }
}

.event-txts:hover, #alert-close:hover{
    cursor: pointer;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

// slide down transition
.slideDown {
    transform: translate(0px, -2999px);
    display: block;
    & {
        overflow: hidden;
    }
 }

.slideUp {
    transform: translate(0px, 2999px);
    & {
        overflow: hidden;
    }
}

.active-state{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

/********** ERROR SECTION **********/
#error {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 30%;
    top: 30%;
    width: 40vw;
    height: 40vh;
    font-size: 1.3rem;
    z-index: 11;
    background: white;
    transition: transform 200ms linear;
    #error-header{
        background: linear-gradient(#eb3349, #f45c43);
        height: 1.4vh;
        width: 100%;
    }
    p {
        color: rgb(34,56,54);
        font-size: 1.3rem;
    }
    img {
        width: 64px;
    }
    button{
        margin-bottom: 30px;
        width: 40%;
        height: 5vh;
        background: linear-gradient(#f14d60, #f35f48);
        color: white;
    }
    button:hover{
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    }
}

// classes to transitionally hide the error element
.hideUsingScaleZero {
    transform: scale(0) translate(50%, 50%);
}

.showUsingScaleOne {
    transform: scale(1) translate(-50%, -50%);
}