$main-font-family: 'Ubuntu', monospace; //main font

//heights and widths
$upper-main-height: 68vh;
//background-colors
$upper-morning-bg: rgb(255, 195, 16);
$lower-morning-bg: rgb(242, 174, 28);

//list of color basedon temperature and current hour
// warm < ------ > cool
$morns: rgb(255, 195, 16), rgb(248, 185, 23),rgb(242, 174, 28),rgb(218, 174, 16);
$noon: rgb(45, 195, 16);

body{
    font-family: $main-font-family;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
form{
    padding-top: 9px;
    padding-bottom: 19px;
    text-align: center;
}
#modal{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(1,1,1,0.3);
    z-index: 10;
}
#main-header{
    background: rgb(43,36,22);
    background: linear-gradient(210deg, rgba(43,36,22,1) 0%, rgba(149,104,93,1) 41%, rgba(222,176,156,1) 84%);  
}
#upper-main{
    display: flex;
    flex-direction: row;
    background: $upper-morning-bg;
    height: $upper-main-height;
    width:100%;
}
#upper-main > div {
    width: 50%;
    height: inherit;
}

// DAILY-SECTION
#daily-main{
    display: flex;
    background: rgb(248, 185, 23);
    #daily-container{
        display: flex;
        flex-wrap: wrap;
        height: $upper-main-height;
        width: 100%;
        align-items: center;
        .daily-wrappers{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 28%;
            font-size: 20px;
        }
    }
}
.daily-temps{
    font-size: 30px;
    padding: 10px;
}
//current weather
#current-temp{
    font-size: 14vw;
    text-align: center;
    margin: 20px 0;
}
#current-upper{
    display: flex;
    justify-content: space-between;
}
#current-upper-right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}
#current-icon {
    display: block;
    margin-left: 5px;
}
.current-contents{
    font-size: 30px;
    margin-left: 5px;
    margin-top: 5px;
}
.choose-temp {
    padding: 0 15px;
    cursor: pointer;
}
#current-lower {
    display: flex;
    justify-content: space-between;
}
//hourly weather
#lower-main{
    display: flex;
    flex-direction: row;
    background: $lower-morning-bg;
    height:25vh;
    width:100%;
    .hrly-contents > *{
        text-align: center;
    }
    .hrly-icons {
        display: block;
        margin: 0 auto;
    }
    .hrly-temp, .hrly-time{
        margin-top: 8px;
        text-align: center;
        font-size: 24px;
    }
}
#lower-main > div {
    flex-grow: 1;
    height: inherit;
}
.choose-temp:hover{
    text-decoration: underline;
    padding-right: 20px;
}